# Aron Baugh
## Week 8 3/14/2021
### Python Functions Cont

In [1]:
def full_name(fname,lname):
    return fname + ' ' + lname

In [3]:
full_name('Aron', 'Baugh')

'Aron Baugh'

In [16]:
# Find a number is prime
def is_prime(num):
    '''
    This function checks if a number is prime
    '''
    for n in range(2,num):
        if num % n == 0:
            
            return str(num) + ' is not prime'
        else:
            return str(num) + ' is prime'

In [18]:
is_prime(15)

'15 is prime'

In [19]:
#min_two_odds(3,5) --> 3
#min_two_odds(4,9) --> 9

In [20]:
def min_two_odds(n1,n2):
    if n1%2 !=0 and n2%2 !=0:
        return min(n1,n2)
    else:
        return max(n1,n2)

In [21]:
min_two_odds(9,3)

3

In [22]:
min_two_odds(9,2)

9

In [25]:
#check if two-word string starts with the same letter
def two_words_letters(txt):
    wdlist = txt.split()
    word1 = wdlist[0]
    word2 = wdlist[1]
    return word1[0] == word2[0]

In [24]:
txt = 'Python Program'
txt.split()

['Python', 'Program']

In [26]:
two_words_letters('Python Program')

True

In [27]:
two_words_letters('Jave Program')

False

In [30]:
#Reduce
def two_words_letters(txt):
    wdlist = txt.split()
    return wdlist[0][0] == wdlist[1][0]

In [31]:
two_words_letters('Bananan Pie')

False

In [33]:
two_words_letters('Love Land')

True

In [47]:
#create_thirty(10,20) --> True
#create_thirty(5,30) --> True
#create_thirty(5,20) --> False
def create_thirty(num1,num2):
    if (num1+num2) == 30:
        return True
    elif num1 == 30:
        return True
    elif num2 == 30:
        return True
    else:
        return False

In [48]:
create_thirty(10,20)

True

In [49]:
create_thirty(5,30)

True

In [51]:
create_thirty(5,20)

False

In [52]:
#reduce
def create_thirty(num1,num2):
    return (num1+num2) == 30 or num1 == 30 or num2 == 30

In [53]:
create_thirty(4,30)

True

In [54]:
 create_thirty(4,20)

False

In [55]:
create_thirty(4,26)

True

In [56]:
#'Programming' --> ProGramming
w = 'macdonald'
w.capitalize()

'Macdonald'

In [57]:
w[:3]

'mac'

In [60]:
part1 = w[:3].capitalize()

In [61]:
part2 = w[3:].capitalize()

In [62]:
part1 + part2

'MacDonald'

In [74]:
def caps_two_letters(word):
    if len(word) > 3:
        part1 = word[:3].capitalize()
        part2 = word[3:].capitalize()
        return part1 + part2
    else:
        print('Sorry too small')

In [71]:
caps_two_letters('Program')

'ProGram'

In [72]:
caps_two_letters('macdonald')

'MacDonald'

In [75]:
caps_two_letters('cis')

Sorry too small

In [76]:
#Reverse a statement
str1 = 'I am home'
lst = str1.split()

In [77]:
lst

['I', 'am', 'home']

In [78]:
lst.reverse()

In [79]:
lst

['home', 'am', 'I']

In [80]:
' '.join(lst)

'home am I'

In [83]:
def rv_stat(txt):
    #lst = txt.split()
    #lst.reverse()
    return ' '.join(txt.split()[::-1])

In [84]:
rv_stat('How is your day')

'day your is How'

In [97]:
#Check if a list has number 5 next to number 5 somewhere in the list
#[3,4,5,5,10] -> true
#[5,4,5,6,3] -> false
def has_55(lst):
    for i in range(0,len(lst)-1):
        #if lst[i] == 5 and lst[i+1] == 5:
        if lst[i:i+2] == [5,5]:
            return True
    
    return False

In [98]:
has_55([3,4,5,5,10])

True

In [99]:
has_55([5,4,5,6,3])

False

In [103]:
# check code 001 in a list
#[1,4,5,0,0,1,8] -> true
#[1,0,2,5,0,6,1,8] -> true
#[1,5,6,0,7,8,0] -> false

def check_code(lst):
    
    code = [0,0,1,'s']
    
    for num in lst:
        if num == code[0]:
            code.pop(0) # remove the number at index 0
            
    return len(code) == 1

In [105]:
check_code([1,4,5,0,0,1,8])

True

In [106]:
check_code([1,5,6,0,7,8,0])

False

In [107]:
code = [0,0,1,'s']
code.pop(0)
code

[0, 1, 's']

In [108]:
code.pop(0)
code

[1, 's']

In [109]:
#Number of arguments
def full_name(fname,lname):
    print(fname + " " + lname)
    
full_name('Jon', 'Clark')

Jon Clark

In [116]:
def full_name(*names):
    
    if (len(names) == 1):
        print(names[0])
    else:
        print(names[0] + " " + names[1])
    
full_name('Jon', 'Clark')

Jon Clark

In [117]:
full_name('Jon')

Jon

In [120]:
def sum_nums(a,b):
    return sum((a,b))

In [121]:
sum_nums(10,20)

30

In [122]:
def sum_nums(*n):
    return sum(n)

In [123]:
sum_nums(15)

15

In [124]:
sum_nums(4,5,5)

14

In [130]:
def my_kids(child1,child2,child3):
    print("my first child " + child1 + ", my second child " + child2 + ", my third child " + child3)

In [131]:
my_kids("sam","evan","mike")

my first child sam, my second child evan, my third child mike

In [132]:
my_kids(child2 = "evan", child1 = "mike", child3 = "sam")

my first child mike, my second child evan, my third child sam