# Aron Baugh
## Week 9 - 03/21/2021
### Python - Lambda function

In [1]:
def double(num):
    return num * 2

print(double(3))

6

In [5]:
def square(x):
    return x**2

square(5)

25

In [6]:
"""
lambda arguments: expression
"""

double = lambda x:x*2

print(double(4))

8

In [7]:
#Find larger number using lambda function

larger = lambda a,b: a if a > b else b

In [8]:
larger(1,2)

2

In [9]:
larger(2,1)

2

In [10]:
print(larger(5,10))

10

In [11]:
# higher-order functions, such as map(), filter(),sort(),etc

nums = [1,2,3,4,5,6,7]

map(square,nums)

In [12]:
mylist = list(map(square,nums))

In [13]:
mylist

[1, 4, 9, 16, 25, 36, 49]

In [14]:
for item in map(square,nums):
    print(item)

1
4
9
16
25
36
49

In [15]:
def evenwords(w):
    if (len(w)%2 == 0):
        return "EVEN"
    else:
        return w[0:2]
    
evenwords("dodge")

'do'

In [22]:
words = ["Ford","Nissan","GMC","Mazda","Dodge","BMW"]

list(map(evenwords,words))

['EVEN', 'EVEN', 'GM', 'Ma', 'Do', 'BM']

In [23]:
list(map(lambda x:x**2,nums))

[1, 4, 9, 16, 25, 36, 49]

In [24]:
list(map(lambda w:w[0],words))

['F', 'N', 'G', 'M', 'D', 'B']

In [25]:
list(map(lambda w:w[::-1],words))

['droF', 'nassiN', 'CMG', 'adzaM', 'egdoD', 'WMB']

In [26]:
def even(num):
    return num%2 == 0

even(5)

False

In [27]:
even(8)

True

In [28]:
filter(even,nums)

In [29]:
list(filter(even,nums))

[2, 4, 6]

In [30]:
list(filter(lambda x:x%2==0,nums))

[2, 4, 6]

In [31]:
list(map(lambda x:x%2==0,nums))

[False, True, False, True, False, True, False]

In [35]:
#lambda with sort

names = ["Alan","Ryan","Aron","Ana","Evan","Bob"]

In [36]:
names.sort()

In [37]:
names

['Alan', 'Ana', 'Aron', 'Bob', 'Evan', 'Ryan']

In [40]:
#Change the key to sort based on the length of the name
names.sort(key=lambda n:len(n))

In [41]:
names

['Ana', 'Bob', 'Alan', 'Aron', 'Evan', 'Ryan']